@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ClashDisplay";
    src: url("../public/ClashDisplayLight.otf");
}

@font-face {
    font-family: "dragonslapper";
    src: url("../public/dragonslapper.ttf");
}

@font-face {
    font-family: "vinque";
    src: url("../public/vinque.otf");
}